{% extends 'base.html' %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if userslist %}
                <h1 class="display-4">Users List</h1><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in userslist %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.username }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1 class="display-4">No Entries Found!</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}