{% extends 'base.html' %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if entries %}
                <h1 class="display-4">Your Journel Entries</h1><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col">Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                            <tr>
                                <th scope="row">{{ entry.id }}</th>
                                <td>{{ entry.date }}</td>
                                <td>{{ entry.title }}</td>
                                <td>{{ entry.content }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1 class="display-4">No Entries Found!</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}