{% extends 'base.html' %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% for msg in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ msg }}
                </div>
            {% endfor %}
            {% if current_user.is_authenticated %}
                <p class="display-4">
                    Hello {{ current_user.username }}
                </p>
            {% else %}
                <p class="display-4">Please login or register!</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}