{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <fieldset>
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </fieldset>
            <br>
            <fieldset>
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </fieldset>
            <br>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock content %}